<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<h4>Register the Brand</h4>
<div class="col-6">
    <form action="#" th:action="@{/brandView/create}" th:object="${brand}" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" th:field="*{name}" placeholder="Name" id="name">
        </div>
        <button type="submit" class="btn btn-primary">Save Brand</button>
    </form>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>