<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <title>Auto Service</title>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>

<header th:fragment="header">
    <div class="row">
        <div class="col-9"><h3>Auto Service System</h3></div>
        <div class="col-3">
            <h5 sec:authentication="principal.username"></h5>
            <h5 sec:authorize="hasAnyAuthority('EMPLOYEE')" sec:authentication="principal.autoService.name"></h5>

            <a class="btn" th:href="@{/logout}">Logout</a>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navigation">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/typeOfServiceView">Type of Services</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN', 'ADMIN_AUTO_SERVICE')">
                    <a class="nav-link" href="/employeeView">Employees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/historyView">Histories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/carView">Cars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/idCardView">IdCards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/brandView">Brands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/typeOfServicePriceOverchargeView">Price Overcharge</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN', 'ADMIN_AUTO_SERVICE', 'EMPLOYEE')">
                    <a class="nav-link" href="/customerView">Customers</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<footer page-footer font-small>
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
        <a href="/">Auto Service System</a>
    </div>
</footer>