<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
<header th:replace="fragments :: header"></header>

<h4>Customer edit:</h4>
<div class="col-6">
    <form action="#" th:action="@{/customerView/update/{id}(id=${customer.id})}" th:object="${customer}" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input class="form-control" type="text" th:field="*{name}" placeholder="Name" id="name">
        </div>
        <button type="submit" class="btn btn-primary">Update customer</button>
    </form>
</div>
</body>

<footer th:replace="fragments :: footer"></footer>
</html>